In [ ]:
students = [
    {"StudentID": 101, "StudentName": "Ravi", "Course1": "DBMS", "Course2": "OS", "Faculty": "Kumar"},
    {"StudentID": 102, "StudentName": "Sita", "Course1": "DBMS", "Course2": "CN", "Faculty": "Kumar"},
    {"StudentID": 103, "StudentName": "Ravi", "Course1": "OS", "Course2": "CN", "Faculty": "Ramesh"}
]

print("BEFORE NORMALIZATION")
for s in students:
    print(s)

print("\nMESSY QUERY RESULT (Faculty = Kumar)")
for s in students:
    if s["Faculty"] == "Kumar":
        print(s["StudentName"], s["Course1"], s["Course2"])

def normalize_data(data):
    student_table = {}
    course_table = {}
    enrollment_table = []

    for row in data:
        student_table[row["StudentID"]] = row["StudentName"]
        for course in [row["Course1"], row["Course2"]]:
            course_table[course] = row["Faculty"]
            enrollment_table.append((row["StudentID"], course))

    return student_table, course_table, enrollment_table

student_tbl, course_tbl, enrollment_tbl = normalize_data(students)

print("\nAFTER NORMALIZATION")
print("STUDENT TABLE:", student_tbl)
print("COURSE TABLE:", course_tbl)
print("ENROLLMENT TABLE:", enrollment_tbl)

print("\nNORMALIZED QUERY RESULT (Faculty = Kumar)")
for student_id, course in enrollment_tbl:
    if course_tbl[course] == "Kumar":
        print(student_tbl[student_id], course)

BEFORE NORMALIZATION
{'StudentID': 101, 'StudentName': 'Ravi', 'Course1': 'DBMS', 'Course2': 'OS', 'Faculty': 'Kumar'}
{'StudentID': 102, 'StudentName': 'Sita', 'Course1': 'DBMS', 'Course2': 'CN', 'Faculty': 'Kumar'}
{'StudentID': 103, 'StudentName': 'Ravi', 'Course1': 'OS', 'Course2': 'CN', 'Faculty': 'Ramesh'}

MESSY QUERY RESULT (Faculty = Kumar)
Ravi DBMS OS
Sita DBMS CN

AFTER NORMALIZATION
STUDENT TABLE: {101: 'Ravi', 102: 'Sita', 103: 'Ravi'}
COURSE TABLE: {'DBMS': 'Kumar', 'OS': 'Ramesh', 'CN': 'Ramesh'}
ENROLLMENT TABLE: [(101, 'DBMS'), (101, 'OS'), (102, 'DBMS'), (102, 'CN'), (103, 'OS'), (103, 'CN')]

NORMALIZED QUERY RESULT (Faculty = Kumar)
Ravi DBMS
Sita DBMS